@{
    ViewData["Title"] = "Dream Job";
}

<div class="text-center">
    <h1 class="display-4">Dream Job</h1>
    <br><br>
    <p>Anything job and be part of Company with stable or great salary.</p>
</div>
