@{
    ViewData["Title"] = "Personal Info";
}
<div class="text-center">
    <h1 class="display-4">Personal Information</h1>
    <br><br>
    </div>
<ul>
        <li>Name: King Niño Ybanez</li>
        <li>Age: 21</li>
        <li>Birthday: January 23, 2002</li>
        <li>Address: Bungtod, Bogo City, Cebu</li>

    </ul>